@{
    ViewData["Title"] = "Admin Paneli";
}

<style>
    body {
        background-color: #f9ebf5; /* Arka plan rengini sarı yapar */

</style>


<div class="container mt-4">
    <h2>Admin Paneli</h2>
    <br>
    <br>    

    <div class="row">
        <!-- Kullanıcıları Yönet kutucuğu -->
        <div class="col-sm-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Uzman İşlemleri</h5>
                    <p class="card-text">Salon uzmanlarını düzenleyin ve yönetin</p>
                    <a href="/Admin/ManageExperts" class="btn btn-primary">Yönet</a>
                </div>
            </div>
        </div>

        <!-- Randevuları Yönet kutucuğu -->
        <div class="col-sm-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Randevu İşlemleri</h5>
                    <p class="card-text">Alınan randevuları inceleyin ve düzenleyin.</p>
                    <a href="/Admin/ManageAppointments" class="btn btn-primary">Yönet</a>
                </div>
            </div>
        </div>

        <!-- Uzmanları Yönet kutucuğu -->
        <div class="col-sm-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kullanıcı İşlemleri</h5>
                    <p class="card-text">Uzmanların bilgilerini inceleyin ve yönetin.</p>
                    <a href="/Admin/ManageUsers" class="btn btn-primary">Yönet</a>
                </div>
            </div>
        </div>
    </div>
</div>
