@{
    ViewData["Title"] = "Hizmetlerimiz";
}

<h2 class="text-center mt-4">Hizmetlerimiz</h2>
<br />

<div class="row">
    <!-- Hizmet 1 -->
    <div class="col-md-3 col-sm-6">
        <div class="card mb-4">
            <img src="~/images/kesim.jpeg" class="card-img-top" alt="Saç Kesimi">  
            <div class="card-body">
                <h6 class="card-title">Saç Kesimi</h6>
                <p class="card-text">Tarzınıza uygun saç kesimi size çok yakışacak.</p>
                <p class="card-text"><strong>100,00 ₺</strong></p>
                <h6 class="mt-3">Uzmanlar</h6>
                <ul class="list-unstyled">
                    <li>Ali Yılmaz</li>
                    <li>Ayşe Demir</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Hizmet 2 -->
    <div class="col-md-3 col-sm-6">
        <div class="card mb-4">
            <img src="~/images/kesim.jpeg" class="card-img-top" alt="Saç Boyama">
            <div class="card-body">
                <h6 class="card-title">Saç Boyama</h6>
                <p class="card-text">Renginizi değiştirmek için kaliteli boyama.</p>
                <p class="card-text"><strong>200,00 ₺</strong></p>
                <h6 class="mt-3">Uzmanlar</h6>
                <ul class="list-unstyled">
                    <li>Mehmet Kaya</li>
                    <li>Fatma Şen</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Hizmet 3 -->
    <div class="col-md-3 col-sm-6">
        <div class="card mb-4">
            <img src="~/images/kesim.jpeg" class="card-img-top" alt="Manikür">
            <div class="card-body">
                <h6 class="card-title">Manikür</h6>
                <p class="card-text">El bakımınız için profesyonel hizmet.</p>
                <p class="card-text"><strong>80,00 ₺</strong></p>
                <h6 class="mt-3">Uzmanlar</h6>
                <ul class="list-unstyled">
                    <li>Hülya Öz</li>
                    <li>Canan Aksu</li>
                </ul>
            </div>
        </div>
    </div>

  
    <!-- Hizmet 1 -->
    <div class="col-md-3 col-sm-6">
        <div class="card mb-4">
            <img src="~/images/kesim.jpeg" class="card-img-top" alt="Pedikür">
            <div class="card-body">
                <h6 class="card-title">Saç Kesimi</h6>
                <p class="card-text">Tarzınıza uygun saç kesimi size çok yakışacak.</p>
                <p class="card-text"><strong>100,00 ₺</strong></p>
                <h6 class="mt-3">Uzmanlar</h6>
                <ul class="list-unstyled">
                    <li>Ali Yılmaz</li>
                    <li>Ayşe Demir</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Hizmet 2 -->
    <div class="col-md-3 col-sm-6">
        <div class="card mb-4">
            <img src="~/images/kesim.jpeg" class="card-img-top" alt="Cilt Bakımı">
            <div class="card-body">
                <h6 class="card-title">Saç Boyama</h6>
                <p class="card-text">Renginizi değiştirmek için kaliteli boyama.</p>
                <p class="card-text"><strong>200,00 ₺</strong></p>
                <h6 class="mt-3">Uzmanlar</h6>
                <ul class="list-unstyled">
                    <li>Mehmet Kaya</li>
                    <li>Fatma Şen</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Hizmet 3 -->
    <div class="col-md-3 col-sm-6">
        <div class="card mb-4">
            <img src="~/images/kesim.jpeg" class="card-img-top" alt="Makyaj">
            <div class="card-body">
                <h6 class="card-title">Manikür</h6>
                <p class="card-text">El bakımınız için profesyonel hizmet.</p>
                <p class="card-text"><strong>80,00 ₺</strong></p>
                <h6 class="mt-3">Uzmanlar</h6>
                <ul class="list-unstyled">
                    <li>Hülya Öz</li>
                    <li>Canan Aksu</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Hizmet 4 -->
    <div class="col-md-3 col-sm-6">
        <div class="card mb-4">
            <img src="~/images/kesim.jpeg" class="card-img-top" alt="Masaj">
            <div class="card-body">
                <h6 class="card-title">Pedikür</h6>
                <p class="card-text">Ayak bakımınız için profesyonel pedikür.</p>
                <p class="card-text"><strong>90,00 ₺</strong></p>
                <h6 class="mt-3">Uzmanlar</h6>
                <ul class="list-unstyled">
                    <li>Ahmet Çelik</li>
                    <li>Zeynep Kara</li>
                </ul>
            </div>
        </div>
    </div>
</div>
