@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- custom style file link -->
    <link rel="stylesheet" href="~/css/style.css" />

    <!-- font-awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
      

       
    </div>
    <div class="background_img">
        <div class="inner_text">
            <h6>
                hi beauty!
            </h6><br>
            <h3>Ait Olabileceğin<br>
                En Güzel
                Yerdesin
            </h3>
            <button>Hizmetlerimize Göz At</button>
        </div>
    </div>
    <br>
    <br>
    
    <!-- main -->

    <div class="div1">
        <div class="div">
            <div class="text">
                <h1>
                    Bizle
                    Tanışın
                </h1>
                <p>
                    We strive to create architecture that is simple, beautiful,
                    and economical of both means and gestures.
                    We believe that architecture should be
                    integral with its place and that the best
                    buildings allow people to fully experience
                    the light and nature of that place.
                </p>
            </div>
        </div>
    </div>

    <div class="relative_box">
        <img decoding="async" src="/images/team1.jpg" alt="" width="335" height="339.89">
        <h1>Manuel Vanel</h1>
        <p>CEO</p>
    </div>

    <div class="relative_box1">
        <img decoding="async" src="/images/team2.jpg" alt="" width="335" height="339.89">
        <h1>Lunada Carlos</h1>
        <p>DESIGNER</p>
    </div>

    <div class="relative_box2">
        <img decoding="async" src="/images/team3.jpg" alt="" width="335" height="339.89">
        <h1>Naina Soraia</h1>
        <p>CTO</p>
    </div>

    <div class="relative_box3">
        <img decoding="async" src="/images/team4.jpg" alt="" width="335" height="339.89">
        <h1>Lisa Bey</h1>
        <p>DESIGNER</p>
    </div>
    <br>
    <br>
    <br>

    <!-- pagetitle -->

    <div class="pagetitle">
        <div class="inner_text">
            <h3>
                We Design<br>
                Creative Digital<br>
                Products
            </h3>
            <button>PURCHASE KORAL NOW</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <!-- box -->
    <div class="vc">
        <div class="box1">
            <h1>Hakkımızda</h1>
            <p>
                Objectively conceptualize technically sound ROI without web-enabled scenarios.
                Professionally redefine integrated growth strategies without synergistic information.
                Energistically procrastinate resource-leveling processes for unique alignments.
                Energistically matrix efficient experiences through diverse collaboration and.
            </p>
        </div>

        <div class="box2">
            <h1>Misyonumuz</h1>
            <p>
                Objectively conceptualize technically sound ROI without web-enabled scenarios.
                Professionally redefine integrated growth strategies without synergistic information.
                Energistically procrastinate resource-leveling processes for unique alignments.
                Energistically matrix efficient experiences through diverse collaboration and.
            </p>
        </div>
        <div class="box2">
            <h1>Vizyonumuz</h1>
            <p>
                Objectively conceptualize technically sound ROI without web-enabled scenarios.
                Professionally redefine integrated growth strategies without synergistic information.
                Energistically procrastinate resource-leveling processes for unique alignments.
                Energistically matrix efficient experiences through diverse collaboration and.
            </p>
        </div>



    <!-- illustration -->
    <div>
    <div class="illustration">
        <h1>We do Illustrations</h1>
    </div>
        </div>
    <!-- BoxImg -->

    @*<div class="BoxImg">
        <div class="img">
            <img decoding="async" src="img/project01.jpg" alt="">
            <div class="text_box">
                <h1>Spactrum</h1>
                <p>Photograpy / Photoshop</p>
            </div>
        </div>

        <div class="img1">
            <img decoding="async" src="img/project04.jpg" alt="">
            <div class="text_box1">
                <h1>Coral</h1>
                <p>Photograpy / Photoshop</p>
            </div>
        </div>

        <div class="img2">
            <img decoding="async" src="img/project06.jpg" alt="">
            <div class="text_box2">
                <h1>Pretty in Pink</h1>
                <p>Photograpy / Photoshop</p>
            </div>
        </div>

        <div class="img3">
            <img decoding="async" src="img/project07.jpg" alt="">
            <div class="text_box3">
                <h1>Dragon Fruit</h1>
                <p>Photograpy / Photoshop</p>
            </div>
        </div>

        <div class="img4">
            <img decoding="async" src="img/project08.jpg" alt="">
            <div class="text_box4">
                <h1>IPhone X Wallpaper</h1>
                <p>Photograpy / Photoshop</p>
            </div>
        </div>

        <div class="img5">
            <img decoding="async" src="img/project03.jpg" alt="">
            <div class="text_box5">
                <h1>Concert</h1>
                <p>Photograpy / Photoshop</p>
            </div>
        </div>
    </div>


        </div>
    </div>*@

        <div class="BoxImg">
            <div class="img">
                <img decoding="async" src=" /images/hizmetler/kesim.jpeg" alt="">
                <div class="text_box">
                    <h1>Saç Kesimi</h1>
                    
                </div>
            </div>

            <div class="img1">
                <img decoding="async" src=" /images/hizmetler/manikür.jpeg" alt="">
                <div class="text_box1">
                    <h1>Manikür</h1>
                    
                </div>
            </div>

            <div class="img2">
                <img decoding="async" src=" /images/hizmetler/boyama.jpeg" alt="">
                <div class="text_box2">
                    <h1>Saç Boyama</h1>
                    
                </div>
            </div>

            <div class="img3">
                <img decoding="async" src=" /images/hizmetler/keratin.jpeg" alt="">
                <div class="text_box3">
                    <h1>Keratin Bakım</h1>
                    
                </div>
            </div>

            <div class="img4">
                <img decoding="async" src=" /images/hizmetler/ipekkirpik.jpeg" alt="">
                <div class="text_box4">
                    <h1>İpek Kirpik</h1>
                    
                </div>
            </div>

            <div class="img5">
                <img decoding="async" src=" /images/hizmetler/gelinsaci.jpeg" alt="">
                <div class="text_box5">
                    <h1>Gelin Saçı</h1>
				
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


</body>
</html>

